<% include ../partials/header %>

<!-- 
  Show Edit Survey page.
  This is the edit survey creation page with all the survey information that is already filled.
-->
<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card card-body">
      <h3 class="text-left text-uppercase">Edit <%=survey.name%></h3>
      <br></br>
      <form action="/surveys/<%= survey._id %>?_method=PUT" method="post">
        <div class="form-group">
          <label for="name">Survey Title</label>
          <input type="text" class="form-control" name="name" value="<%= survey.name %>" required>
        </div>
        <div class="form-group">
          <label for="description">Survey Description</label> 
          <textarea class="form-control" name="description" rows="5" required><%= survey.description %></textarea>
        </div>
        
        <div class="form-group">
          <label for="startdate">Start Date</label> 
          <input id="date" name="startdate" value="<%= survey.startdate%>" type="date">
        </div>
        
        <div class="form-group">
          <label for="enddate">End Date</label>
          <input id="date" name="enddate" value="<%= survey.enddate%>" type="date">
        </div>
        
        <!-- 
          More Options for Admin
        -->
        <fieldset>
          <legend>More Options</legend>
          
          <div class="form-group">
            <input type="checkbox" id="featuredSurveys" name="featuredSurveys" value="featuredSurveys" <% if (survey.featuredSurveys) { %> checked="checked" <%}%>>
            <label for="featuredSurveys">Add to Featured Surveys</label>
          </div>
          
          <div class="form-group">
            <input type="checkbox" id="publicSurvey" name="publicSurvey" value="publicSurvey" <% if (survey.publicSurvey) { %> checked="checked" <%}%>>
            <label for="publicSurvey">Make the Survey Public</label>
          </div>
          
          <div class="form-group">
            <input type="checkbox" id="hideRespondentsNav" name="hideRespondentsNav" value="hideRespondentsNav" <% if (survey.hideRespondentsNav) { %> checked="checked" <%}%>>
            <label for="hideRespondentsNav">Hide Respondents UI Elements</label>
          </div>
          
          <div class="form-group">
          <label for="topic">Survey Topic (Optional)</label>
          <input type="topic" class="form-control" name="topic" value="<%= survey.topic %>">
        </div>
          
        </fieldset>
        
        <br></br>
        
        <button type="submit" class="btn btn-primary float-right">Edit</button>
        
        <a class="btn btn-secondary float-left" href="/surveys/<%= survey._id %>">Go Back</a>
      </form>
    </div>
  </div>
</div>

<% include ../partials/footer %>