<%include ../partials/header%>

<div class="container-fluid border border-bottom-1 border-top-0 border-right-0 border-left-0" style="padding: 0px; background-color: #f6f5f3" >
        <h3 align="center"><span style="color:#3d3d3f">Get Started by Creating Survey</span></h3>
    <!--  <h3 align="center">List of our surveys</h3> -->
            <h4>
                <ul>
        <% if (currentUser) {  %>  
            <li style="color:#3d3d3f;text-align:center" class="text-black">Welcome,<%= currentUser.firstName %>!</li>
        <% } %>
            <ul>           
            </h4>
            
            <h4 style="color:black">
                   
            </h4>
    </div>
   

<div class="container mt-4" style="background-color: #f6f5f3; padding:10px" id="main">
       <h2 style="padding-right:10px;padding-left:10px"><%= survey.name %></h2>

<div id="form-container"> 

<form class="form"  id="validationform" method="post" enctype="multipart/form-data" style="display:none">

    
    <div class="questionPreview row p-3" id="afterSave"  style="background-color:white;margin:10px;display:none">  
        </div>
  

     <div id="form-input"  class="form-input row pt-3 pr-3" style="background-color:white;margin:10px">
        <div class="col-lg-1 col-sm-2 text-center px-0" >
    <h4 id="question-number" class="m-1 pb-1"><span>Q.1</span></h4>
            </div>
     <div class="col-lg-11 col-sm-10 px-2">

         <div class="d-flex flex-column flex-wrap">

            <div class="row1" id="row1">
                <div class="d-flex flex-row flex-wrap">
                    <div class="inline-row-1  pr-5 flex-grow-1" >
                        <div class="form-group" >
                            <input type="text" class="form-control border rounded-0 pl-2"  name="question[text]" placeholder="Add Question Title here" style="height:45px" required></input>
                        </div>
                        <div class="form-group">
                            <div class="d-flex">
                                <input type="text" class="form-control form-control-sm pl-2 my-0" style="height:25px;width:70%" name="question[instruction]" placeholder="Question's Instructions"></input>  
                               <ion-icon class="border rounded-circle mx-3 my-1" name="help" style="height:15px;width:15px;background-color:	#e9ecef" data-toggle="tooltip" data-placement="right" title="Add some special instructions for given question here or you can leave this blank either"></ion-icon>
                                </div>
                        </div>
                        
                               
                              
                    </div>
                    <div class="inline-row-2" >
                        <div class="form-group" >  
                            <div class="input-group mb-3">
                                    <select class="form-control custom-select border rounded" name="question[types]" id="questionType">
                                      <option selected value="1">Single-Select</option>
                                      <option value="2">Checkboxes</option>
                                      <option value="3">Slider</option>
                                      <option value="4">Rating-Scale</option>
                                      <option value="5">Text</option>
                                      <option value="6">Multi-Row-Textbox</option>
                                      <option value="7">List-Of-Textbox</option>
                                    </select>
                                    <ion-icon class="border rounded-circle mx-3 my-2" name="help" style="height:15px;width:15px;background-color:	#e9ecef" data-toggle="tooltip" data-placement="top" data-html="true" title="<h4>Question Type</h4><p>You can select here the type of question you want ot create</p>"></ion-icon>
                                  </div>
                        </div>
                        <div class="form-group" >
                                <div class="input-group mb-3">
                                    <select class="form-control custom-select border rounded" name="question[cognitive]" id="Cognitivity">
                                        <option selected>none</option>
                                          <option value="1">Highly Cognitive</option>
                                          <option value="2">Medium Cognitive</option>
                                          <option value="3">Low Cognitive</option>
                                          <option value="4">Don't Know</option>
                                    </select>
                                    <ion-icon class="border rounded-circle mx-3 my-2" name="help" style="height:15px;width:15px;background-color:	#e9ecef" data-toggle="tooltip" data-placement="top" data-html="true" title="<h4>Question Type</h4><p>You can select here the type of question you want ot create</p>"></ion-icon>
                                </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row2" id="row2">
                 <div class="d-flex flex-row flex-wrap">
                    <div class="inline-row-1 pr-5 for-options flex-grow-1">
             <!--Single Select display-->  
                            <div class="options" id="1" style="display:block">
                                <div class="form-check p-1" id="radio-option-0">
                                    <input class="form-check-input" type="radio" name="exampleRadios" id="create-Radios" value="option1" >
                                        <label class="form-check-label" for="exampleRadios1" style="height:30px;width:100%">
                                            <div class="form-group" >
                                                    <input type="text" class="form-control form-control-sm pl-2 my-0 border rounded-0" style="height:30px" placeholder="Add option here" name="question[options][0][content]"></input>
                                            </div>
                                    </label>
                                </div>
                                <div class="form-check p-1" id="radio-option-1">
                                    <input class="form-check-input" type="radio" name="exampleRadios" id="create-Radios" value="option2">
                                    <label class="form-check-label" for="exampleRadios2" style="height:30px;width:100%">
                                            <div class="form-group" >
                                                    <input type="text" class="form-control form-control-sm pl-2 my-0 border rounded-0 " style="height:30px" placeholder="Add option here" name="question[options][1][content]"></input>
                                            </div>
                                    </label>
                                </div>
                                
                            </div>  

                    <!--Multiple Select display-->       
                                <div class="options" id="2" style="display:none" >
                                        <div class="form-check p-1" id="check-option-0">
                                                <input class="form-check-input" type="checkbox"  id="create-checkboxes" value="option1" >
                                                <label class="form-check-label" for="exampleRadios1">
                                                        <div class="form-group">
                                                                <input type="text" class="form-control form-control-sm pl-2 my-0 border rounded-0" style="height:25px" placeholder="sample option" name="question[options][0][content]"></input>
                                                        </div>
                                                </label>
                                         </div>
                                        <div class="form-check p-1" id="check-option-1">
                                                <input class="form-check-input" type="checkbox" name="exampleRadios" id="create-checkboxes" value="option2">
                                                <label class="form-check-label" for="exampleRadios2">
                                                        <div class="form-group">
                                                                <input type="text" class="form-control form-control-sm pl-2 my-0 border rounded-0" style="height:25px" placeholder="sample option" name="question[options][1][content]"></input>
                                                        </div>
                                                </label>
                                         </div>

                                  </div> 

                    <!--Rating Scale display box-->                    
                                 <div class="options" id="4" style="display: none;">
                                        <h5 class="text-left">Rating Scale</h5>
                                        Choosing one of the block provided.
                                        <div class="rating">
                                          <span><input type="radio" name="rating" id="str5" value="5"><label for="str5">Excellent</label></span>
                                          <span><input type="radio" name="rating" id="str4" value="4"><label for="str4">Good</label></span>
                                          <span><input type="radio" name="rating" id="str3" value="3"><label for="str3">Fair</label></span>
                                          <span><input type="radio" name="rating" id="str2" value="2"><label for="str2">Poor</label></span>
                                          <span><input type="radio" name="rating" id="str1" value="1"><label for="str1">Bad</label></span>
                                        </div>
                                      </div>

                    <!--Preview Slider display box-->                  
                                      <div class="options" id="3" style="display: none;">
                                        <h5 class="text-left">Silder</h5>
                                        Draging the button to rate one stuff.
                                        <input type="range" min="1" max="100" value="50">
                                      </div>
                                      

                    <!--Text-Box type display-->       
                                <div class="options" id="5" style="display:none">
                                       <p class="m-2"> A Text Field provided for user to enter with only single line of words.</p>
                                       <input type="text"  value="" >
                                 </div> 

                     <!--Multiple-Row-Box type display-->       
                             <div class="options" id="6" style="display:none"> 
                                    <p class="m-2"> A Text Field provided for user to enter with multiple row lines of words.</p>
                                    <textarea rows="4" col="50"></textarea>
                             </div> 
                             
                     <!--Multiple-Row-Box type display-->       
                     <div class="options" id="7" style="display: none;">
                            <h5 class="text-left">List of textboxs</h5>
                            A list of textboxs which can let users to enter multiple lines of words.
                            <input type="text" value="">
                            <input type="text" value="">
                            <input type="text" value="">style="background-color: #7dce94;color: white;"
                          </div>      
                           
                          <div class="add-option  m-3" ><ion-icon id="add-option" class="btn" style="height:30px;width:25px;background-color: #7dce94;color: white;" name="add-circle-outline"></ion-icon></div>   
                            
                    </div>
                <div class="inline-row-2">
                        <div class="form-group" >  
                                <div class="input-group ">
                                        <select class="form-control custom-select" id="qtopic" name="question[qtopic]">
                                                <option value="" selected>None</option>
                                                <option>Lifestyle</option>
                                                <option>Health</option>
                                                <option>Demographics</option>
                                                <option>Education</option>
                                                <option>Finances</option>
                                                <option>Daily Living</option>
                                                <option>Hobbies</option>
                                                <option>Relationships</option>
                                                <option>Travel</option>
                                                <option>Transportation</option>
                                                <option>Technology</option>
                                                <option>Employment</option>
                                                <option>Entertainment</option>
                                        </select>
                                        <ion-icon class="border rounded-circle mx-3 my-2" name="help" style="height:15px;width:15px;background-color:	#e9ecef" data-toggle="tooltip" data-placement="top" data-html="true" title="<h4>Question Type</h4><p>You can select here the type of question you want ot create</p>"></ion-icon>
                                      </div>
                            </div>
                        <div class="form-group d-flex" >
                            <div class="buttons" >
                               <a id="delete" href="#" class="btn m-2" value="Delete">Delete</a>
                            <button id="edit" type="submit" class="btn form-control float-right m-2" style="display:none">Edit</button>   
                         
                                
                              </div>
                            </div>
                     </div>
                     </div>
                </div>

     </div>
    </div>
   
     </div>
     <input type="hidden" id="S_id" value="<%=survey._id%>">
    </form>
     
    
    
  <%survey.questions.forEach(function(question,i){%>
  <form class="form"  id="<%=i+1%>" method="post" enctype="multipart/form-data" style="display:block">
        <div class="questionPreview row p-3" id="afterSave<%=i+1%>" style="background-color: white; margin: 10px; display: block; opacity: 1;">  
                <div class="row">
                    <div class="col-lg-1 col-sm-2 text-center px-0">
                        <h4 id="question-number" class="m-1"><span>Q.<%=i+1%></span></h4> </div>
                        <div class="col-lg-11 col-sm-10" id="afterSave-text">
                            <h4 class="m-1"><%=question.text%></h4>
                            <%if(question.options){%>
                            <%question.options.forEach(function(option,i){%>
                            <p class="p-1 mb-1"><%=option.content%></p>
                            <%})%>
                            <%}%>
                        </div>
                    </div>
                </div>

     <div id="form-input"  class="form-input row pt-3 pr-3" style="background-color:white;margin:10px;display:none" >
        <div class="col-lg-1 col-sm-2 text-center px-0" >
    <h4 id="question-number" class="m-1 pb-1"><span>Q.<%=i+1%></span></h4>
            </div>
     <div class="col-lg-11 col-sm-10 px-2">

         <div class="d-flex flex-column flex-wrap">

            <div class="row1" id="row1">
                <div class="d-flex flex-row flex-wrap">
                    <div class="inline-row-1  pr-5 flex-grow-1" >
                        <div class="form-group" >
                            <input type="text" class="form-control border rounded-0 pl-2"  name="question[text]" placeholder="Add Question Title here" style="height:45px" required></input>
                        </div>
                        <div class="form-group">
                            <div class="d-flex">
                                <input type="text" class="form-control form-control-sm pl-2 my-0" style="height:25px;width:70%" name="question[instruction]" placeholder="Question's Instructions"></input>  
                               <ion-icon class="border rounded-circle mx-3 my-1" name="help" style="height:15px;width:15px;background-color:	#e9ecef" data-toggle="tooltip" data-placement="right" title="Add some special instructions for given question here or you can leave this blank either"></ion-icon>
                                </div>
                        </div>
                        
                               
                              
                    </div>
                    <div class="inline-row-2" >
                        <div class="form-group" >  
                            <div class="input-group mb-3">
                                    <select class="form-control custom-select border rounded" name="question[types]" id="questionType">
                                      <option selected value="1">Single-Select</option>
                                      <option value="2">Checkboxes</option>
                                      <option value="3">Slider</option>
                                      <option value="4">Rating-Scale</option>
                                      <option value="5">Text</option>
                                      <option value="6">Multi-Row-Textbox</option>
                                      <option value="7">List-Of-Textbox</option>
                                    </select>
                                    <ion-icon class="border rounded-circle mx-3 my-2" name="help" style="height:15px;width:15px;background-color:	#e9ecef" data-toggle="tooltip" data-placement="top" data-html="true" title="<h4>Question Type</h4><p>You can select here the type of question you want ot create</p>"></ion-icon>
                                  </div>
                        </div>
                        <div class="form-group" >
                                <div class="input-group mb-3">
                                    <select class="form-control custom-select border rounded" name="question[cognitive]" id="Cognitivity">
                                        <option selected>none</option>
                                          <option value="1">Highly Cognitive</option>
                                          <option value="2">Medium Cognitive</option>
                                          <option value="3">Low Cognitive</option>
                                          <option value="4">Don't Know</option>
                                    </select>
                                    <ion-icon class="border rounded-circle mx-3 my-2" name="help" style="height:15px;width:15px;background-color:	#e9ecef" data-toggle="tooltip" data-placement="top" data-html="true" title="<h4>Question Type</h4><p>You can select here the type of question you want ot create</p>"></ion-icon>
                                </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row2" id="row2">
                 <div class="d-flex flex-row flex-wrap">
                    <div class="inline-row-1 pr-5 for-options flex-grow-1">
             <!--Single Select display-->  
                            <div class="options" id="1" style="display:block">
                                <div class="form-check p-1" id="radio-option-0">
                                    <input class="form-check-input" type="radio" name="exampleRadios" id="create-Radios" value="option1" >
                                        <label class="form-check-label" for="exampleRadios1" style="height:30px;width:100%">
                                            <div class="form-group" >
                                                    <input type="text" class="form-control form-control-sm pl-2 my-0 border rounded-0" style="height:30px" placeholder="Add option here" name="question[options][0][content]"></input>
                                            </div>
                                    </label>
                                </div>
                                <div class="form-check p-1" id="radio-option-1">
                                    <input class="form-check-input" type="radio" name="exampleRadios" id="create-Radios" value="option2">
                                    <label class="form-check-label" for="exampleRadios2" style="height:30px;width:100%">
                                            <div class="form-group" >
                                                    <input type="text" class="form-control form-control-sm pl-2 my-0 border rounded-0 " style="height:30px" placeholder="Add option here" name="question[options][1][content]"></input>
                                            </div>
                                    </label>
                                </div>
                                
                            </div>  

                    <!--Multiple Select display-->       
                                <div class="options" id="2" style="display:none" >
                                        <div class="form-check p-1" id="check-option-0">
                                                <input class="form-check-input" type="checkbox"  id="create-checkboxes" value="option1" >
                                                <label class="form-check-label" for="exampleRadios1">
                                                        <div class="form-group">
                                                                <input type="text" class="form-control form-control-sm pl-2 my-0 border rounded-0" style="height:25px" placeholder="sample option" name="question[options][0][content]"></input>
                                                        </div>
                                                </label>
                                         </div>
                                        <div class="form-check p-1" id="check-option-1">
                                                <input class="form-check-input" type="checkbox" name="exampleRadios" id="create-checkboxes" value="option2">
                                                <label class="form-check-label" for="exampleRadios2">
                                                        <div class="form-group">
                                                                <input type="text" class="form-control form-control-sm pl-2 my-0 border rounded-0" style="height:25px" placeholder="sample option" name="question[options][1][content]"></input>
                                                        </div>
                                                </label>
                                         </div>

                                  </div> 

                    <!--Rating Scale display box-->                    
                                 <div class="options" id="4" style="display: none;">
                                        <h5 class="text-left">Rating Scale</h5>
                                        Choosing one of the block provided.
                                        <div class="rating">
                                          <span><input type="radio" name="rating" id="str5" value="5"><label for="str5">Excellent</label></span>
                                          <span><input type="radio" name="rating" id="str4" value="4"><label for="str4">Good</label></span>
                                          <span><input type="radio" name="rating" id="str3" value="3"><label for="str3">Fair</label></span>
                                          <span><input type="radio" name="rating" id="str2" value="2"><label for="str2">Poor</label></span>
                                          <span><input type="radio" name="rating" id="str1" value="1"><label for="str1">Bad</label></span>
                                        </div>
                                      </div>

                    <!--Preview Slider display box-->                  
                                      <div class="options" id="3" style="display: none;">
                                        <h5 class="text-left">Silder</h5>
                                        Draging the button to rate one stuff.
                                        <input type="range" min="1" max="100" value="50">
                                      </div>
                                      

                    <!--Text-Box type display-->       
                                <div class="options" id="5" style="display:none">
                                       <p class="m-2"> A Text Field provided for user to enter with only single line of words.</p>
                                       <input type="text"  value="" >
                                 </div> 

                     <!--Multiple-Row-Box type display-->       
                             <div class="options" id="6" style="display:none"> 
                                    <p class="m-2"> A Text Field provided for user to enter with multiple row lines of words.</p>
                                    <textarea rows="4" col="50"></textarea>
                             </div> 
                             
                     <!--Multiple-Row-Box type display-->       
                     <div class="options" id="7" style="display: none;">
                            <h5 class="text-left">List of textboxs</h5>
                            A list of textboxs which can let users to enter multiple lines of words.
                            <input type="text" value="">
                            <input type="text" value="">
                            <input type="text" value="">
                          </div>      
                           
                          <div class="add-option text-center"><ion-icon id="add-option" class="btn" style="height:30px;width:25px;color:grey" name="add-circle-outline"></ion-icon></div>   
                            
                    </div>
                <div class="inline-row-2">
                        <div class="form-group" >  
                                <div class="input-group ">
                                        <select class="form-control custom-select" id="qtopic" name="question[qtopic]">
                                                <option value="" selected>None</option>
                                                <option>Lifestyle</option>
                                                <option>Health</option>
                                                <option>Demographics</option>
                                                <option>Education</option>
                                                <option>Finances</option>
                                                <option>Daily Living</option>
                                                <option>Hobbies</option>
                                                <option>Relationships</option>
                                                <option>Travel</option>
                                                <option>Transportation</option>
                                                <option>Technology</option>
                                                <option>Employment</option>
                                                <option>Entertainment</option>
                                        </select>
                                        <ion-icon class="border rounded-circle mx-3 my-2" name="help" style="height:15px;width:15px;background-color:	#e9ecef" data-toggle="tooltip" data-placement="top" data-html="true" title="<h4>Question Type</h4><p>You can select here the type of question you want ot create</p>"></ion-icon>
                                      </div>
                            </div>
                        <div class="form-group d-flex" >
                            <div class="buttons" >
                               <a id="delete" href="#" class="btn m-2" value="Delete">Delete</a>
                            <button id="edit" type="submit" class="btn form-control float-right m-2" style="display:none">Edit</button>   
                           <button id="save" type="submit" class="btn form-control float-right m-2" >Save</button>
                                
                              </div>
                            </div>
                     </div>
                     </div>
                </div>

     </div>
    </div>
   
     </div>
     
     <input type="hidden" id="S_id" value="<%=survey._id%>">
     <input type="hidden" id="q_id" value="<%=question._id%>">
    </form>
    <%})%>

    <div class="d-flex justify-content-end" >
    <button id="duplicate" class="btn m-2 p-1 " style="background-color: #7dce94;color: white;">Add Another Question</button>
    </div>
    
  </div>
  </div>

  <!--getting the reading of total questions for getting the counter working inside the script-->
<input type="hidden" id="question-count" value="<%=survey.questions.length%>">                  
      
             
<script>
  

  $(document).ready(function(){
   // var Total_questions_initally=<%=survey.questions.length%>
    
    console.log(Total_questions_initally)
/*block for tooltip work here ,either you can add the popper classs of bootsterap before bootstrap.min.js bundle containing popper*/
    $(function (event) {
  $('[data-toggle="tooltip"]').tooltip()
})



/*for passing the data from form to cotroller with ajax*/
$('#save').click(function(e){
    e.preventDefault()
    e.stopPropagation()
    var id=$('#S_id').val()
    var current_element_selected=$(this).closest('form')
    var items=$(this).closest('form').serialize()
    var Print_question_number_here=current_element_selected.attr('id')
    if(Print_question_number_here==='validationform'){Print_question_number_here='1'}
    $.ajax({
        type:'POST',
        enctype:'multipart/form-data',
        url:'/surveys/'+id+'/questions',
        data:items,
        success:function(question){ 
           var new_cloned_element=current_element_selected.children('#afterSave').attr('id','afterSave'+Print_question_number_here)
           new_cloned_element.css('display','block')
           new_cloned_element.append('<div class="row"></div>')
           new_cloned_element.find('.row').append( '<div class="col-lg-1 col-sm-2 text-center px-0"><h4 id="question-number" class="m-1"><span>Q.'+ Print_question_number_here+'</span></h4> </div>')
           new_cloned_element.find('.row').append('<div class="col-lg-11 col-sm-10" id="afterSave-text"></div>')
           new_cloned_element.find('#afterSave-text').append('<h4 class="m-1">'+question.text+'</h4>')
           current_element_selected.append('<input type="hidden" id="q_id" value="'+question._id +'">')
           for(var x=0; x < question.options.length;x++){
            new_cloned_element.find('#afterSave-text').append('<p class="p-1 mb-1">'+ question.options[x].content + '</p>');
                }
           current_element_selected.children('#form-input').css('display','none')
        }
    })
})

    /*displaying edit option on the */
    $('.questionPreview').mouseenter(function(){
        $(this).css('opacity','0.76'); 
        $(this).append('<div class="float-right m-2" id="Edit-div"><a class="btn" id="Edit-button" style="color:white">Edit</a><a id="delete" href="#" class="btn m-2" value="Delete" style="color:white>Delete</a></div>');
        $(this).find('#Edit-div').css('opacity','1')
        $('#Edit-button').click(function(){
            var nearest_required_div=$(this).closest('.questionPreview')
            var form_container=nearest_required_div.closest('#form-container')
                var temp=form_container.children('#'+nearest_required_div.attr('id').replace(/[^0-9]/gi, '')).css('display','block')
                temp.children('#form-input').css('display','block')
                temp.find('#save').css('display','none')
                temp.find('#edit').css('display','block')
                nearest_required_div.css('display','none')
                })
        })
        .mouseleave(function(){
            $(this).css('opacity','1');
            $(this).find('#Edit-div').remove()})

    /*The edit button usage on the page*/
    $('#edit').click(function(e){
    e.preventDefault()
    e.stopPropagation()
    var id=$('#S_id').val()
    console.log(id)
    var question_id=$(this).closest('.form').find('#q_id').val()
    var current_element_selected=$(this).closest('form')
    var items=$(this).closest('form').serializeArray()
    var Print_question_number_here=current_element_selected.attr('id')
    //if(Print_question_number_here==='validationform'){Print_question_number_here='1'}
    $.ajax({
        type:'POST',
        enctype:'multipart/form-data',
        url:'/surveys/'+id+'/questions/'+question_id+'?_method=PUT',
        data:items,
        success:function(question){ 
           console.log('done'+ question.options[1].content +"length "+question.options.length)
           var afterSave_div=$(current_element_selected).find('#afterSave'+Print_question_number_here)
           afterSave_div.css('display','block')
           var afterSave_text_div=afterSave_div.find('.row>#afterSave-text')
           afterSave_text_div.children('h4').replaceWith('<h4 class="m-1">'+question.text+'</h4>')
           for(var x=0;x<question.options.length;x++){
            afterSave_text_div.find('p').remove();
               }
           for(var x=0;x<question.options.length;x++){
            afterSave_text_div.append('<p class="p-1 mb-1">'+ question.options[x].content + '</p>');
               }
           current_element_selected.children('#form-input').css('display','none')
        }
    })
   })

    /*changing the div blocks using questiontype selector*/
    var option_counter=[0] //initalizing the option counter for the current form's(i.e. id='validationform') total options available
    var current_questiontype=[0];
     $('#questionType').change(function(e){
        var option=$(this).children('option:selected').val()
        var temp=parseInt($(this).closest('form').attr('id'))     
        if(option_counter[temp]>1){
            if(option==='2'){for ( var i = 2; i <=option_counter[temp]; i++ ) {
                $('#radio-option-'+i).remove()
            }option_counter[temp]=1;} 
            else if(option==='1'){for ( var i = 2; i <=option_counter[temp]; i++ ){
                $('#check-option-'+i).remove()
            }option_counter[temp]=1;}
        }
 
         var divison_to_display=$(this).closest('form').find('#'+option)
         $(divison_to_display).css('display','block')
         var l=8;
         for ( var i = 1; i < l; i++ ) {
            if(i!=option){$(this).closest('form').find('#'+i).css('display','none')}
            if(parseInt(option)>2){$(this).closest('form').find('.add-option').css('display','none')}
            else{$(this).closest('form').find('.add-option').css('display','block')}
            } 
            current_questiontype[temp]=option; 
        })



    /*cloning new validation form*/ 
        var i =$('#question-count').val()
        $('#duplicate').click(function(){
        var div=$('#validationform')
        var div_to_append=$('#'+(i))
        var t=div.clone(true,true).attr('id', ++i).appendTo(div_to_append)
        console.log('created form:'+t.attr('id'))
        t.css('display','block')
        t.find("input").val("")
        t.find("#question-number").children('span').remove()
        t.find("#question-number").append('<span>Q.'+i+'</span>')
        option_counter[i]=1
        current_questiontype[i]=t.find('#questionType').children('option:selected').val()
        t.find('.options').css('display','none')
        t.find('#'+current_questiontype[i]).css('display','block')
        //t.find('.for-options').append($('#1'))
        t.find('.add-option').css('display','block')
        t.find('#save').css('display','block')
        t.find('#edit').css('display','none')
        if(option_counter[1]>1){
        for(var temp=2;temp<=option_counter[1];temp++){
            t.find('#radio-option-'+temp).remove()
            t.find('#check-option-'+temp).remove()
        }
    }
    })



    /*deletein the nearest validation form*/
    $('#delete').click(function(){
            var current_id=$(this).closest('form').attr('id')
                if(current_id!='validationform'){
                    $(this).closest("form").remove()  //removing the current form
                    $('form').each(function(){  //getting the question numbers set accordingly
                        var id=$(this).attr('id') //id of the forms for setting question numbers 
                        var question_number=$(this).find('#question-number')
                        if(id!='validationform' && parseInt(current_id)<parseInt(id)){
                            temp=parseInt(id)-1
                            question_number.children('span').remove()
                            question_number.append('<span>Q.'+temp+'</span>')
                            $(this).attr('id',temp)} 
                 })
            }
            option_counter.splice(parseInt(current_id),1)
            current_questiontype.splice(parseInt(current_id),1)
            i--       //subtracting one number from total of all forms
        })


     /*Adding more options to given question*/
     
$('#add-option').on('click',function(event){
    event.preventDefault()
    var div;
    var new_div;
    var temp;
//conditional block for getting the attribute id of selected form  
    if($(this).closest('form').attr('id')!=='validationform'){
    temp=parseInt($(this).closest('form').attr('id'))}
    else{
    temp=1;
    }
   
//if else for adding new div on basis of selected question type
    if(current_questiontype[temp]==='1'){
     div=$(this).closest("form").find('#radio-option-'+option_counter[temp])
     new_div = div.clone(true).attr('id','radio-option-'+ ++option_counter[temp])
    }
    else if(current_questiontype[temp]==='2'){
        div=$(this).closest("form").find('#check-option-'+option_counter[temp])
        new_div = div.clone(true,true).attr('id','check-option-'+ ++option_counter[temp])  
    }
    new_div.find('input').val("")
    new_div.find('.form-group > .form-control').attr('name','question[options]['+option_counter[temp]+'][content]')
    new_div.append().insertAfter(div)
    console.log(new_div.attr('id')+'TO  form' +div.attr('id')+'  '+option_counter[temp])
        })

      
    /*creating question 1 to display on page load with brute-force method*/  
    
    /*    var first_question=$('#validationform').clone(true,true).attr('id',i).appendTo($('#validationform').parent())
        console.log('created form:'+first_question.attr('id'))
        first_question.find("input").val("")
        first_question.find("#question-number").children('span').remove()
        first_question.find("#question-number").append('<span>Q.'+i+'</span>')
        option_counter[i]=1
        current_questiontype[i]=first_question.find('#questionType').children('option:selected').val()
        first_question.find('.options').css('display','none')
        first_question.find('#'+current_questiontype[i]).css('display','block')
        //t.find('.for-options').append($('#1'))
        first_question.find('.add-option').css('display','block')
        first_question.css('display','block')
        console.log(current_questiontype[i] +'  value '+i+' optioncounter  ' + option_counter[i])
     */   
})
  
</script>

<%include ../partials/footer%>

