<% include ../partials/header %>

<!--
	Add a question page
	Left container allows Admin to choose different question types
	Right container is used for entering question details and uploading an image
-->
<div class="container">
<div class="row">
<div id="TypeChosing" class="col-sm-6 mx-auto"> 
    <!--Div block for button group of type chosing-->
    <div class="card card-body">
      <p class="text-left text-uppercase">Add Question to: <b><em><%= survey.name %> </em></b> </p>
      <br></br>
      
      <!--Button of multple choices-->
      <div id="Multiple_Choice_Group"> 
        <h4 class="text-left">Multiple Choice</h4>
          <button id="btnSingle" type="button" onclick="displayRadiobox()" class="btn btn-primary mb1 bg-teal" name="1">Single Select</button>
          <button id="btnMult" type="button" onclick="displayCheckbox()" class="btn btn-primary mb1 bg-teal" name=="2">Multiple Select</button>
      </div>
      
      <br></br>
        
      <!--Button group of text box types choosing--> 
      <div id="Textbox_Group">
        <h4 class="text-left">Open Text Field Choice</h4>
        <button id="btnTxtBox" type="button" onclick="displayTextbox()" class="btn btn-primary mb1 bg-teal" name=="3" >Textbox</button>
        <button id="btnMultTxt" type="button" onclick="displayMultLineTextbox()" class="btn btn-primary mb1 bg-teal">Multi Row Textbox</button>
        <button id="btnTxtList" type="button" onclick="displayLineListTextbox()" class="btn btn-primary mb1 bg-teal"> List of Textboxes</button>
      </div>
      <br></br>
      
      <!--Button group of text box types choosing-->
      <div id="Rating_Group">
        <h4 class="text-left">Rating & Ranks</h4>
         <button id="btnRateScale" type="button" onclick="displayRatingScale()" class="btn btn-primary mb1 bg-teal">Rating Scale</button>
         <button id="btnRateSilder" type="button" onclick="displaySilder()" class="btn btn-primary mb1 bg-teal">Rating Silder</button>
      </div>
      <br></br>
      
      <!--Preview of single select type-->
      <body>
      <div id="Preview_Radio">
        <h5 class="text-left">Single Select</h5>
        Single Select can let user to choose only one answer which already provided by the survey.
        <br></br>
        <p>
          <input type="radio" id="test1" name="radio-group" checked>
          <label for="test1">Apple</label>
        </p>
        <p>
          <input type="radio" id="test2" name="radio-group">
          <label for="test2">Peach</label>
        </p>
        <p>
          <input type="radio" id="test3" name="radio-group">
          <label for="test3">Orange</label>
        </p>
      <br></br>
      
      
      
      </div>
      
      <!--Preview of multiple(checkboxes) select type-->
      <div id="Preview_Checkbox" style="display: none;">
        <h5 class="text-left">Multiple Select</h5>
        Multiple Selection questions are similar to Multiple Choice questions. However, questions can have more than one correct answer. You can create as many choices as necessary. 
        <p>
          <input type="checkbox" id="testCheck1" name="checbox_group-group" checked>
          <label>Apple</label>
        </p>
        <p>
          <input type="checkbox" id="testCheck2" name="checbox_group-group" checked>
          <label>Peach</label>
        </p>
        <p>
          <input type="checkbox" id="testCheck3" name="checbox_group-group">
          <label>Orange</label>
        </p>
        <br></br>
         
      </div>
      
      <!--Preview of textbox type-->
      <div id="Preview_SingleLineText" style="display: none;">
        <h5 class="text-left">Single line text</h5>
        A Text Field provided for user to enter with only single line of words.
        <input type="text" value="" >
        </textarea>
      </div>
       
      <!--Preview of mult line textbox type-->
      <div id="Preview_MultLineTxt" style="display: none;">
        <h5 class="text-left">Multiple Line of text</h5>
        A Text Field provided for user to enter with multple lines of words.
        <textarea rows="4" cols="50"></textarea>
      </div>
      
      <!--Preview of textbox list type-->
      <div id="Preview_LineList" style="display: none;">
        <h5 class="text-left">List of textboxs</h5>
        A list of textboxs which can let users to enter multiple lines of words.
        <input type="text" value="" >
        <input type="text" value="" >
        <input type="text" value="" >
      </div>
      
      <!--Preview of rating scale type-->
      <div id="Preview_RatingScale" style="display: none;">
        <h5 class="text-left">Rating Scale</h5>
        Choosing one of the block provided.
        <div class="rating">
          <span><input type="radio" name="rating" id="str5" value="5"><label for="str5">Excellent</label></span>
          <span><input type="radio" name="rating" id="str4" value="4"><label for="str4">Good</label></span>
          <span><input type="radio" name="rating" id="str3" value="3"><label for="str3">Fair</label></span>
          <span><input type="radio" name="rating" id="str2" value="2"><label for="str2">Poor</label></span>
          <span><input type="radio" name="rating" id="str1" value="1"><label for="str1">Bad</label></span>
        </div>
      </div>
      
      <div id="Preview_Silder" style="display: none;">
        <h5 class="text-left">Silder</h5>
        Draging the button to rate one stuff.
        <input type="range" min="1" max="100" value="50">
      </div>
      
      <br/>
      
      
      </body>
      <!--<form action="/surveys/<%= survey._id %>/questions" method="post" enctype="multipart/form-data">-->
      <!--  <div class="form-group">-->
      <!--    <label for="name">Question Text</label>-->
      <!--    <input type="text" class="form-control" name="question[text]" required>-->
      <!--  </div>-->
        
      <!--  <div class="form-group">-->
      <!--    <label for="name">Instructions</label>-->
      <!--    <input type="text" class="form-control" name="question[instruction]">-->
      <!--  </div>-->
      <!--</form>-->
      
      </div>  
    </div>
    
    <!--Div block that edit question content-->
    <div id="QuestionEdit" class ="col-sm-6 mx-auto">
      <div class="card card-body">
      <form action="/surveys/<%= survey._id %>/questions" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label for="name">Question Title</label>
          <input type="text" class="form-control" name="question[text]" required>
        </div>
        
        <div class="form-group">
          <label for="name">Instructions</label>
          <input type="text" class="form-control" name="question[instruction]">
        </div>
        
        <div class="form-group">
          <label for="image">Image</label>
          <input type="file" id="image" class="form-control" name="image" accept="image/*">
        </div>
        
        
          
        <!--Selecting group of questions--> 
        <div class="form-group">
            <label for="groupQuestion">Group Question</label>
            <select class="form-control" id="groupQuestion" name="question[groupQuestion]">
              <option value="" disabled selected>Choose your option</option>
              <option value="">None</option>
              <option>G1</option>
              <option>G2</option>
              <option>G3</option>
              <option>G4</option>
              <option>G5</option>
              <option>G6</option>
              <option>G7</option>
              <option>G8</option>
              <option>G9</option>
              <option>G10</option>
            </select>
        </div>
        
        
        <br></br>
        <br></br>
        <p>Options: </p>
        
        <!--Revised in July 17, 2018, add the skip pattern code>
        <!--Display options with array number inside-->
        <div class="form-group" id="single_select">
          <div class="form-group" id="radio_group">
            <div>
              <label for="option1">Answer 1</label>
              <input type="text" class="form-control" name="question[options][0][content]">
            
              <!--Revised in July 17, 2018, add this part as skip pattern, and change the block to div-->
              <label>Skip to</label>
              <select class="form-control" name="question[options][0][skipId]">
                <option>None</option>
                <% survey.questions.forEach(function(question, i) { %>
                <option value="<%= question %>">
                        <p>Question: <%= i + 1 %></p>      
                        <!--<strong>-->
                        <!--<%= question.text %>-->
                        <!--</strong>-->

                </option>
                <% }) %>
              </select>
            </div>
            <br>
            <hr id="skipID">
            <div>
              <label for="option2">Answer 2</label>
              <input type="text" class="form-control" name="question[options][1][content]">
              
              <!--Revised in July 17, 2018, add this part as skip pattern, and change the block to div-->
              <label>Skip to</label>
              <select class="form-control" name="question[options][1][skipId]">
                <option>None</option>
                <% survey.questions.forEach(function(question, i) { %>
                <option value="<%= question %>">
                        <p>Question: <%= i + 1 %></p>      
                        <!--<strong>-->
                        <!--<%= question.text %>-->
                        <!--</strong>-->
                   
                </option>
                <% }) %>
              </select>
            </div>
            <br>
            <hr id="skipID">
          </div>
          <button id="addButton_single_select" onclick="addNewInputRadioText()" type="button" onclick="addNewInputRadioText()" class="btn btn-info mb1 bg-teal">Add</button>
        </div>
        
        <input type="number" class="form-control" id="typeInput" value="1" name="question[types]" style="display: none;">
        
        <input type="number" class="form-control" id="qNumber" name="question[qNumber]" style="display: none;" value="<%= survey.questions.length + 1 %>">
        
        <!-- 
          More options for Admin
        -->
        <fieldset>
          <p>Cognitive ability of the question</p>
          <div class="form-group">
            <input type="radio" id="high" name="question[cognitive]" value="high-cognitive"> 
            <label for="high">High Cognitive</label>
          </div>
          
          <div class="form-group">
            <input type="radio" id="medium" name="question[cognitive]" value="medium-cognitive">
            <label for="medium">Medium Cognitive</label>
          </div>
          
          <div class="form-group">
            <input type="radio" id="low" name="question[cognitive]" value="low-cognitive">
            <label for="low">Low Cognitive</label>
          </div>
          
          <div class="form-group">
            <input type="radio" id="none" name="question[cognitive]" value="dont-know">
            <label for="none">Don't know</label>
          </div>
          
        </fieldset>
        <br></br>
        
        <!-- 
          Question Topic options for Admin
        -->
        
        <fieldset>
          <p>Question Topics</p>
        <div class="form-group">
            <select class="form-control" id="qtopic" name="question[qtopic]">
              <option value="" selected>None</option>
              <option>Lifestyle</option>
              <option>Health</option>
              <option>Demographics</option>
              <option>Education</option>
              <option>Finances</option>
              <option>Daily Living</option>
              <option>Hobbies</option>
              <option>Relationships</option>
              <option>Travel</option>
              <option>Transportation</option>
              <option>Technology</option>
              <option>Employment</option>
              <option>Entertainment</option>
            </select>
        </div>
        
        <div class="form-group">
          <label for="qtopicother">Other Topic?</label>
          <input type="text" id="qtopicother" class="form-control" name="question[qtopicother]" value="">
        </div>
        </fieldset>
        
        <hr>
        
        <!--Revised in 9/22/2018, Add Subquestion by Yuxuan He-->
        Sub question:
        <div class="form-group">
          <label for="name">Sub Question Title</label>
          <input type="text" class="form-control" name="question[SubQtext]">
        </div>
        
        <div class="form-group" id="single_select">
          <div class="form-group" id="radio_group">
            <label for="subOption1">Answer 1</label>
            <input type="text" class="form-control" name="question[SubOptions][0][content]">
            
            <label for="subOption2">Answer 2</label>
            <input type="text" class="form-control" name="question[SubOptions][1][content]">
            
            <label for="subOption3">Answer 3</label>
            <input type="text" class="form-control" name="question[SubOptions][2][content]">
            
            <label for="subOption4">Answer 4</label>
            <input type="text" class="form-control" name="question[SubOptions][3][content]">
            
            <label for="subOption5">Answer 5</label>
            <input type="text" class="form-control" name="question[SubOptions][4][content]">
            
            <label for="subOption6">Answer 6</label>
            <input type="text" class="form-control" name="question[SubOptions][5][content]">
          </div>
          <!--<button id="addButton_new_subOption" onclick="addNewSubOption()" type="button" class="btn btn-primary mb1 bg-teal">Add</button>-->
        </div>
        
        
        <button type="submit" class="btn btn-primary float-right">Create Question</button>
        
        <a class="btn btn-secondary float-left" href="/surveys/<%= survey._id %>">Go Back</a>
      </form>
    </div>
  </div>
</div>
</div>

<script>
  //counter variable of question options.
  var optionCounter = 1;
  var testSurvey = <%- JSON.stringify(survey)%>;
  console.log(testSurvey);
  var subOptionCounter = 1;
  var checkbox = document.getElementById("multiple_select");
  var radiobox = document.getElementById("single_select");
  var checkboxGroup = document.getElementById("checbox_group");
  var radioboxGroup = document.getElementById("radio_group");
  
  var radioboxPreview = document.getElementById("Preview_Radio");
  var checkboxPreview = document.getElementById("Preview_Checkbox");
  var singleLinePreview = document.getElementById("Preview_SingleLineText");
  var multLinePreview = document.getElementById("Preview_MultLineTxt");
  var lineListPreview = document.getElementById("Preview_LineList");
  var ratingScalePreview = document.getElementById("Preview_RatingScale");
  var sliderPreview = document.getElementById("Preview_Silder");
  
  //disable single select button since it is default.
  document.getElementById("btnSingle").disabled = true;
  
  //add Counter of question options
  function addCounter(){
    optionCounter++;
  }
  
  //add Counter of question options
  function addSubCounter(){
    subOptionCounter++;
  }
  
  function disCounter(){
    optionCounter = optionCounter - 1;
  }
  
  
  
   function displayRadiobox(){
    
    //control of other boxes and buttons, now is disable single select button  
    //and display preview of single select
    radioboxPreview.style.display = "block";
    checkboxPreview.style.display = "none";
    singleLinePreview.style.display = "none";
    multLinePreview.style.display = "none";
    lineListPreview.style.display = "none";
    ratingScalePreview.style.display = "none";
    sliderPreview.style.display = "none";
    
    //mark element type input as 1, which is single select
    document.getElementById("typeInput").value = 1;
    
    document.getElementById("btnSingle").disabled = true;
    document.getElementById("btnMult").disabled = false;
    document.getElementById("btnTxtBox").disabled = false;
    document.getElementById("btnMultTxt").disabled = false;
    document.getElementById("btnTxtList").disabled = false;
    document.getElementById("btnRateScale").disabled = false;
    document.getElementById("btnRateSilder").disabled = false;
  }

  function displayCheckbox(){
    //control of other boxes and buttons, now is disable checkbox and display 
    //preview of checkbox(multiple select)
    radioboxPreview.style.display = "none";
    checkboxPreview.style.display = "block";
    singleLinePreview.style.display = "none";
    multLinePreview.style.display = "none";
    lineListPreview.style.display = "none";
    ratingScalePreview.style.display = "none";
    sliderPreview.style.display = "none";
    
    //mark element type input as 2, which is mult select(checkboxes)
    document.getElementById("typeInput").value = 2;
    
    document.getElementById("btnSingle").disabled = false;
    document.getElementById("btnMult").disabled = true;
    document.getElementById("btnTxtBox").disabled = false;
    document.getElementById("btnMultTxt").disabled = false;
    document.getElementById("btnTxtList").disabled = false;
    document.getElementById("btnRateScale").disabled = false;
    document.getElementById("btnRateSilder").disabled = false;
  }
  
   function displayTextbox(){
    //control of other boxes and buttons, now is disable textbox button  
    //and display preview of single line textbox.
    radioboxPreview.style.display = "none";
    checkboxPreview.style.display = "none";
    singleLinePreview.style.display = "block";
    multLinePreview.style.display = "none";
    lineListPreview.style.display = "none";
    ratingScalePreview.style.display = "none";
    sliderPreview.style.display = "none";
    
    //Mark element type input as 3, which is single linetextbox
    document.getElementById("typeInput").value = 3;
    
    document.getElementById("btnSingle").disabled = false;
    document.getElementById("btnMult").disabled = false;
    document.getElementById("btnTxtBox").disabled = true;
    document.getElementById("btnMultTxt").disabled = false;
    document.getElementById("btnTxtList").disabled = false;
    document.getElementById("btnRateScale").disabled = false;
    document.getElementById("btnRateSilder").disabled = false;
   }
   
   function displayMultLineTextbox(){
    //control of other boxes and buttons, now is disable mult line textbox button  
    //and display preview of multiple line textbox
    radioboxPreview.style.display = "none";
    checkboxPreview.style.display = "none";
    singleLinePreview.style.display = "none";
    multLinePreview.style.display = "block";
    lineListPreview.style.display = "none";
    ratingScalePreview.style.display = "none";
    sliderPreview.style.display = "none";
    
    //Mark element type input as 4, which is Multple line of textboxes
    document.getElementById("typeInput").value = 4;
    
    document.getElementById("btnSingle").disabled = false;
    document.getElementById("btnMult").disabled = false;
    document.getElementById("btnTxtBox").disabled = false;
    document.getElementById("btnMultTxt").disabled = true;
    document.getElementById("btnTxtList").disabled = false;
    document.getElementById("btnRateScale").disabled = false;
    document.getElementById("btnRateSilder").disabled = false;
   }
   
   function displayLineListTextbox(){
    //control of other boxes and buttons, now is disable textbox button  
    //and display preview of single line textbox
    radioboxPreview.style.display = "none";
    checkboxPreview.style.display = "none";
    singleLinePreview.style.display = "none";
    multLinePreview.style.display = "none";
    lineListPreview.style.display = "block";
    ratingScalePreview.style.display = "none";
    sliderPreview.style.display = "none";
    
    //Mark element type input as 5, which is list of textboxes
    document.getElementById("typeInput").value = 5;
    
    document.getElementById("btnSingle").disabled = false;
    document.getElementById("btnMult").disabled = false;
    document.getElementById("btnTxtBox").disabled = false;
    document.getElementById("btnMultTxt").disabled = false;
    document.getElementById("btnTxtList").disabled = true;
    document.getElementById("btnRateScale").disabled = false;
    document.getElementById("btnRateSilder").disabled = false;
   }
   
   function displayRatingScale(){
    //control of other boxes and buttons, now is disable textbox button  
    //and display preview of single line textbox
    radioboxPreview.style.display = "none";
    checkboxPreview.style.display = "none";
    singleLinePreview.style.display = "none";
    multLinePreview.style.display = "none";
    lineListPreview.style.display = "none";
    ratingScalePreview.style.display = "block";
    sliderPreview.style.display = "none";
    
    //Mark element type input as 6, which is rating slider.
    document.getElementById("typeInput").value = 6;
    
    document.getElementById("btnSingle").disabled = false;
    document.getElementById("btnMult").disabled = false;
    document.getElementById("btnTxtBox").disabled = false;
    document.getElementById("btnMultTxt").disabled = false;
    document.getElementById("btnTxtList").disabled = false;
    document.getElementById("btnRateScale").disabled = true;
    document.getElementById("btnRateSilder").disabled = false;
   }
   
   function displaySilder(){
     //control of other boxes and buttons, now is disable Silder button  
    //and display preview of single line textbox
    radioboxPreview.style.display = "none";
    checkboxPreview.style.display = "none";
    singleLinePreview.style.display = "none";
    multLinePreview.style.display = "none";
    lineListPreview.style.display = "none";
    ratingScalePreview.style.display = "none";
    sliderPreview.style.display = "block";
    
    //Mark element type input as 7, which is rating slider.
    document.getElementById("typeInput").value = 7;
    
    document.getElementById("btnSingle").disabled = false;
    document.getElementById("btnMult").disabled = false;
    document.getElementById("btnTxtBox").disabled = false;
    document.getElementById("btnMultTxt").disabled = false;
    document.getElementById("btnTxtList").disabled = false;
    document.getElementById("btnRateScale").disabled = false;
    document.getElementById("btnRateSilder").disabled = true;
   }
   
  
 // Revised in July 17, 2018, add the skip pattern code, use this as new skip pattern Option
  // This is function that can add new option for question.
  function addNewInputRadioText(){
    // val = optionRadioHTML;
    // radio_group.append(val);
    addCounter();
    var innerCounter = optionCounter + 1;
    var div = document.createElement('divNewRadio');
    
    div.classname = 'newRadio';
    
    div.innerHTML =  '<div class="form-group">'+
                    '<label for="option1">Answer '+
                    innerCounter+
                    '</label>'+
                    '<input type="text" class="form-control" name="question[options][' +
                    optionCounter 
                    + 
                    '][content]">'+
                    
                    '<label>Skip to</label>'+
                      '<select class="form-control" name="question[options][' +
                    optionCounter 
                    + 
                    '][skipId]">'+
                      '<option>None</option>'+
                      '<% survey.questions.forEach(function(question, i) { %>' +
                        '<option value= "<%= question %>">' +

                    
                        
                        '<p>Question: <%= i + 1 %></p>' +      
                        '<!--<strong>-->' +
                        '<!--<%= question.text %>-->' +
                        '<!--</strong>-->' +
                    
                        
                       
                        '</option>' +
                      '<% }) %>' +
                      '</select>'+
                      
                      ' <input type="button" value="remove" onclick="removeNewRadio(this)">'+
                      '</div>'+
                      '<br>'+
                      '<hr id="skipID">';
    
    radioboxGroup.appendChild(div);
  }
  
  // Revised in Sep 21, 2018, function for add subquestion option.
   function addNewSubOption(){
    // val = optionRadioHTML;
    // radio_group.append(val);
    addSubCounter();
    var innerCounter = subOptionCounter + 1;
    var div = document.createElement('divSubQuestion');
    
    div.classname = 'subQuestion';
    
    div.innerHTML =  '<div class="form-group">'+
                    '<label for="option1">Answer '+
                    innerCounter+
                    '</label>'+
                    '<input type="text" class="form-control" name="question[SubOptions][' +
                    optionCounter 
                    + 
                    '][content]">'+
                    ' <input type="button" value="remove" onclick="removeNewRadio(this)">'+
                    '</div>';
    
    radioboxGroup.appendChild(div);
  }
  
   function disSubCounter(){
    subOptionCounter = subOptionCounter - 1;
  }
  
  function removeNewRadio(input){
    radioboxGroup.removeChild(input.parentNode.parentNode);
    disCounter();
  }
   
  // function addNewInputCheckboxText(){
  //   // val = optionCheckboxHTML
  //   // radio_group.append(val);
  //   var div = document.createElement('divNewCheckbox');
  //   div.innerHTML = '<div class="form-group">'+
  //                         '<label for="option1">New Answer</label>'+
  //                         '<input type="text" class="form-control" name="option">' +
  //                         ' <input type="button" value="remove" onclick="removeNewCheckbox(this)">'+
  //                         '</div>';
  //   checbox_group.appendChild(div);
  // }
  
  function removeNewCheckbox(input){
    checbox_group.removeChild(input.parentNode.parentNode);
  }
  
  
    
</script>
<% include ../partials/footer %>